# 1. Tomcat Server Setting
server:
  port: 80
  servlet:
    encoding:
      charset: UTF-8
      force: true

# 2. SpringBoot Environment Setting
spring:
  mvc:
    view:
      prefix: /views/
      suffix: .jsp
  datasource:
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
    url: jdbc:log4jdbc:mysql://127.1.0.1:3306/smdb?characterEncoding=utf8
    #driver-class-name: com.mysql.cj.jdbc.Driver
    #url: jdbc:mysql://127.0.0.1:3306/smdb?characterEncoding=utf8
    username: ENC(OAjB56HlNziHqNDu8ZFSAw==)
    password: ENC(zYoWFnp8CokAEj/HgST7Tw==)

# 3. Mybatis Setting
mybatis:
  type-aliases-package: edu.sm.app.dto
  mapper-locations: classpath:/mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true
# 4. Logging Setting
logging:
  level:
    root: info
  #  error > info > debug

# 5. Application Environment Setting
app:
  url:
    server-url: http://210.119.34.77:81
  dir:
    imgdir: file:///c:/springsm/imgs/
    uploadimgdir: c:/springsm/imgs/
    logdir: file:///c:/springsm/logs/
    readlogdir: c:/springsm/logs/
  key:
    wkey: ENC(QdOsjLohLq1MPwpHZYB9hMyr+NY0bXXyORg1vRQEnmXS59mZAkg+vRNof9FFPDLTkMZLaMkMQ9NHNu8bI2/ZJQFb304B3s/MIJnouj5n9u9qUhyp2smp4mXRaqQz3KdpVmVZZSxLehC6Le73m78zGA==)
    wkey2: ENC(AGzLAgsPMOJE5zDYsXEricMGvjB/S1GVF2ZFRTuO9qjnlj/sMv6d/xF0pAuzWJkn)
    algo: PBEWithMD5AndDES
    skey: mykey







